@page
@model Gympt.Pages.Memberships.MembershipCreateModel
@{
    ViewData["Title"] = "Crear Membresía";
}

<h1>Crear Nueva Membresía</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Membership.Name" class="control-label"></label>
                <input asp-for="Membership.Name" class="form-control" />
                <span asp-validation-for="Membership.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Membership.Description" class="control-label"></label>
                <textarea asp-for="Membership.Description" class="form-control"></textarea>
                <span asp-validation-for="Membership.Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Membership.Price" class="control-label"></label>
                <input asp-for="Membership.Price" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="Membership.Price" class="text-danger"></span>
            </div>

            <!-- CAMPO ACTUALIZADO -->
            <div class="form-group mb-3">
                <label asp-for="Membership.MonthlySessions" class="control-label"></label>
                <input asp-for="Membership.MonthlySessions" type="number" class="form-control" />
                <span asp-validation-for="Membership.MonthlySessions" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-page="./Memberships" class="btn btn-outline-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}